*{
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.bg-dark{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}
header{
    text-align: center;
}
.gameBoard, .mod{
    display: flex;  
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.table{
    display: grid;
    border:solid rgba(0, 0, 0, 0.397) 0.5px;
    width: 50%;
    height: 400px;
    background-color: rgb(58, 137, 189);
}
.row{
    border:solid rgba(0, 0, 0, 0.397) 0.5px;
}
.row-1{
    border: solid red 1px;
}
.atackTarget{
    background-color: red;
}
.atackFailure{
    background-color: yellow;
}
.table-1, .table-0{
    width: 45%;
    margin: 5px;
}
.table-n{
    display: none;
}
.table-d{
    display: grid;
}
#turn, #play{
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    height: 35px;
    margin: 5px;
    color: wheat;
    background-color: rgb(0, 0, 0);
}
#turn{
    background-color: rgb(58, 137, 189);
}
@media (max-width: 768px) {
    .gameBoard{
        flex-direction: column;
    }
    .table-1, .table-0{
        width: 90%;
        margin: 5px;
    }
}