*{
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
}
.gameBoard{
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.table-1{
    display: grid;
    border: black solid 1px;
    width: 80%;
    height: 500px;
    background-color: rgb(58, 137, 189);
}
.row{
    border:dashed black 1px;
}
.row-1{
    border: solid red 1px;
}
.atack{
    background-color: red;
}